#show-order {
  display: none;
}

#pageHead {
  background: url("../img/banner-background.jpg");
  text-align: center;
  text-shadow: 0 0 10px #020202,
               0 0 20px #f5f5f5,
               0 0 30px #f5f5f5,
               0 0 40px #f5f5f5,
               0 0 70px #f5f5f5,
               0 0 80px #f5f5f5,
               0 0 100px #f5f5f5,
               0 0 150px #f5f5f5;
  font-size: 60px;            
}
